@{
    @model AdvertismentPhoto
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Məkan filiallarına düzəliş et</h4>
                <hr>
                <form class="forms-sample" method="post" class="mt-4" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="AreaTitle">Məkan adı (kiçik başlıq)</label>
                                <input asp-for="AreaTitle" class="form-control" id="exampleInputName1" placeholder="kiçik başlıq" />
                                <span asp-validation-for="AreaTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Photo">Şəkili seçin</label>
                                <div class="uploadArea">
                                    <div class="uploadImage d-flex justify-content-center align-items-center">
                                    </div>
                                </div>
                                <input id="uploadInput" asp-for="Photo" accept="image/*" type="file" class="form-control uploadInput form-control" />
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <p>Hazırki şəkil</p>
                            </div>
                            <div>
                                <img style="width:100%;" src="~/img/@Model.PhotoURL" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="exampleInputName1"></label>
                            <input type="submit" class="btn btn-purple btn-icon-text" value="Deyisdir" />
                            <button class="btn btn-dark"> <a asp-controller="Place" asp-action="Places"> Geri </a> </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>