<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div class="row">
                    <div class="col-12 text-center"> 
                        <h3>Menu</h3>
                    </div>
                </div>
   <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="menu-icon-admin text-center">
                           <a class="nav-link" asp-action="generals" asp-controller="general">
                                <i class="mdi mdi-settings menu-icon"></i>
                                <p>İdarə tablosu</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">

                        <div class="menu-icon-admin text-center">
                          <a class="nav-link"  asp-action="main" asp-controller="home">
                                 <i class="mdi mdi-domain menu-icon"></i>
                                <p>Arxa fon</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">

                        <div class="menu-icon-admin text-center">
                           <a class="nav-link" asp-action="places" asp-controller="place">
                        <i class="mdi mdi-monitor menu-icon"></i>
                                <p>Reklam</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="menu-icon-admin text-center">
                               <a class="nav-link" asp-action="blogs" asp-controller="blog">
                        <i class="mdi mdi-note-text menu-icon"></i>
                                <p>Blog</p>
                            </a>
                        </div>
                    </div>
                
                </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


    <div>
        <div id="twoseven-ext-tab-media-modal" class="twoseven-ext-tab-media-modal" style="display: none;">
            <!-- Modal content -->
            <div class="twoseven-ext-tab-media-modal-content">
                <div class="iframe-container" style="height: 100%; width: 100%;">
                    <span class="close">×</span>
                </div>
            </div>
        </div>
    </div>
</body>