@{
    @model IEnumerable<BlogsCategories>
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">
                    Kateqoriyalar
                </h4>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-description" style="float: left; margin-right: 10px;">
                            <button type="button" class="btn btn-purple btn-icon-text">
                                <a asp-action="Blogs" asp-controller="Blog">
                                    - Geri
                                </a>
                            </button>
                        </p>
                           <p class="card-description" style="float: left;" >
                            <button type="button" class="btn btn-purple btn-icon-text">
                                <a asp-action="CreateCategory" asp-controller="Blog">
                                    +  Kateqoriya əlavə et
                                </a>
                            </button>
                        </p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="main-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Kateqoriya adı </th>
                                <th>Əməliyyatlar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderByDescending(b => b.Id))
                            {
                                <tr class="odd">
                                    <td style="display:none;">@item.Id</td>
                                    <td>@item.CategoryName</td>
                                    <td>
                                        <a title="Sil" asp-action="DeleteCategory" asp-route-id="@item.Id">
                                            <button type="button" class="btn btn-inverse-danger btn-icon">
                                                <i class="mdi mdi-delete-forever"></i>
                                            </button>
                                        </a>
                                        <a title="Düzəliş et" asp-action="EditCategory" asp-route-id="@item.Id">
                                            <button type="button" class="btn btn-inverse-warning  btn-icon">
                                                <i class="mdi mdi-table-edit"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
