@{
    @model BlogsCategories
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kateqoriya adına düzəliş et </h4>
                <hr>
                <form class="forms-sample" method="post" class="mt-4" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CategoryName"> Kateqoriya adı </label>
                                <input asp-for="CategoryName" class="form-control" id="exampleInputName1" placeholder="Kateqoriya adı: Markeing, IT, UX , etc. " />
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4" style="margin-top: 26px;
                      text-align: right;">
                            <label for="exampleInputName1"></label>
                            <input type="submit" class="btn btn-purple btn-icon-text" value="Dəyişdir" />
                            <button class="btn btn-dark"> <a asp-controller="blog" asp-action="BlogCategory"> Geri </a> </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>