@{
    @model StaticData
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">İdarə tablosu yarat</h4>
                <hr>
                <form class="forms-sample" method="post" class="mt-4" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="PhoneOne">Əlaqə nömrəsi (1)</label>
                                <input asp-for="PhoneOne" class="form-control" id="exampleInputName1" placeholder="Nömrə: +994 xx xxx xx xx" />
                                <span asp-validation-for="PhoneOne" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="MobileTwo">Əlaqə nömrəsi (2)</label>
                                <input asp-for="MobileTwo" class="form-control" id="exampleInputName1" placeholder="Nömrə: +994 xx xxx xx xx" />
                                <span asp-validation-for="MobileTwo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="MobileThree">Əlaqə nömrəsi (3)</label>
                                <input asp-for="MobileThree" class="form-control" id="exampleInputName1" placeholder="Nömrə: +994 xx xxx xx xx" />
                                <span asp-validation-for="MobileThree" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="FacebookLink">FB-link</label>
                                <input asp-for="FacebookLink" class="form-control" id="exampleInputName1" placeholder="https://www.facebook.com/profile." />
                                <span asp-validation-for="FacebookLink" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="InstagramLink">Instagram link</label>
                                <input asp-for="InstagramLink" class="form-control" id="exampleInputName1" placeholder="https://www.instagram.com/username/" />
                                <span asp-validation-for="InstagramLink" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="LinkedinLink">Linkedin link</label>
                                <input asp-for="LinkedinLink" class="form-control" id="exampleInputName1" placeholder="https://www.linkedin.com/profile/" />
                                <span asp-validation-for="LinkedinLink" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Email">E-poçt</label>
                                <input asp-for="Email" class="form-control" id="exampleInputName1" placeholder="E-poçt: xxxx@xxx.com/az" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Photo">Brandin Şəklini seçin</label>
                                <div class="custom-file mt-3 mb-3">
                                    <input type="file" class="form-control file-upload-info custom-file-input" id="customFile" asp-for="Photo" accept="image/*">
                                    <span asp-validation-for="Photo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="margin-top: 26px;
                      text-align: right;">
                            <label for="exampleInputName1"></label>
                            <input type="submit" class="btn btn-dark me-2" value="Yarat" />
                            <button class="btn btn-light"> <a style="color:#222" asp-controller="general" asp-action="generals"> Geri </a> </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>