<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">İdarə tablosu yarat</h4>
                <hr>
                <form class="forms-sample">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputName1">Əlaqə nömrəsi (1) </label>
                                <input type="text" class="form-control" id="exampleInputName1"
                                       placeholder="Nömrə: +994 xx xxx xx xx">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputName1">Əlaqə nömrəsi (2) </label>
                                <input type="text" class="form-control" id="exampleInputName1"
                                       placeholder="Nömrə: +994 xx xxx xx xx">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputName1">Əlaqə nömrəsi (3) </label>
                                <input type="text" class="form-control" id="exampleInputName1"
                                       placeholder="Nömrə: +994 xx xxx xx xx">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputName1">E-poçt</label>
                                <input type="text" class="form-control" id="exampleInputName1"
                                       placeholder="E-poçt: xxxx@xxx.com/az">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputName1">Logo yüklə</label>
                                <div class="custom-file mt-3 mb-3">
                                    <input type="file" class="form-control file-upload-info custom-file-input" id="customFile">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top: 26px;
                      text-align: right;">
                            <label for="exampleInputName1"></label>
                            <button type="submit" class="btn btn-dark me-2"> Yenilə </button>
                            <button class="btn btn-light">Geri</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>