@{
    @model BackgroundImages
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Arxa Fon Şəkllərini yarat</h4>
                <hr>
                <form class="forms-sample" method="post" class="mt-4" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Photo">Arxa Fon Şəklini seçin</label>
                                <div class="custom-file mt-3 mb-3">
                                    <input type="file" class="form-control file-upload-info custom-file-input" id="customFile" asp-for="Photo" accept="image/*">
                                    <span asp-validation-for="Photo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="margin-top: 26px;">
                            <label for="exampleInputName1"></label>
                            <input type="submit" class="btn btn-warning btn-icon-text" value="Yarat" />
                            <button class="btn btn-dark"> <a asp-controller="Home" asp-action="Main"> Geri </a> </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>