@using Minidea.ViewModels
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
    @model LoginViewModel

}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <a class="navbar-brand" style="width: 150px; height: 90px;margin-left: 30%;"><img src="~/img/staticdata/logo-transparent.png" style="height: 100%;width:100%;" style="padding: 0;"></a>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input asp-for="Email" type="text" class="form-control" placeholder="ad">
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="şifrə">
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Daxil ol" class="btn login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
