<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Minidea-Admin Panel</title>
    <!-- plugins:css -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/admin/assets/css/demo_1/login.css">
    <link rel="icon" type="image/x-icon" href="~/icons/favicon-32x32.png" />
</head>
<body>
    @RenderBody()
</body>
</html>
